.categories_main_comp {
  padding-top: 20px;
  padding-bottom: 60px;
}

.container {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
}

.categories_main_parent {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .categories_card {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: right;
    // background-color: #2b2b42c7;
    background-size: contain;
    // color: #fff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.05);
      transition: 0.5s ease;
    }
    .category_name {
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.sub_cat {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
  color: #fff;
  a {
    transition: 0.2s;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #2b2b42c7;
    &:hover {
      border: 1px solid #fff;
      border-radius: 4px;
      transition: 0.2s;
      background-color: #fff;
      color: #2b2b42c7;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 1216px) {
  .categories_main_parent {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media all and (max-width: 952px) {
  .container h2 {
    font-size: 18px;
  }
  .categories_main_parent {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .categories_card {
      width: 100%;
      height: 300px;
      border-radius: 12px;
      padding: 10px;
      background-repeat: no-repeat;
      background-position: right;
      // background-color: #2b2b42c7;
      background-size: contain;
      // color: #fff;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      transition: 0.5s ease;
      &:hover {
        transform: scale(1);
        transition: 0.5s ease;
      }
      .category_name {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .categories_main_parent {
    padding: 30px 0;
    display: flex !important;
    overflow-x: scroll !important;
    gap: 20px;
    & {
      ::-webkit-scrollbar {
        height: 3px !important;
      }
    }
    .categories_card {
      max-width: 220px !important;
      width: 100% !important;
      min-width: 220px !important;
      height: 200px !important;
      .category_name {
        font-size: 15px;
      }
    }
  }
  .sub_cat {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
    a {
      transition: 0.2s;
      padding: 3px 6px;
      font-size: 11px;
      font-weight: 600;
      &:hover {
        border: 1px solid #fff;
        border-radius: 4px;
        transition: 0.2s;
        background-color: #fff;
        color: #2b2b42c7;
        font-size: 11px;
      }
    }
  }
}
