.home_about {
  width: 100%;
  height: max-content;
  color: #11111f;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.home_about_contents {
  text-align: left;
  p {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  h2 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

@media all and (max-width: 600px) {
  .home_about_contents {
    text-align: left;
    p {
      font-size: 13px;
      letter-spacing: 0px;
    }
    h2 {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 19px;
    }
  }
}

// @media all and (max-width: 360px) {
//     .home_about{
//         display: none;
//     }
// }
