.nav {
  width: 100%;
  height: 80px;
  background-color: #11111f;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.top__nav__parent {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .nav__center {
    display: flex;
    gap: 50px;
    .nav_center_link {
      margin-top: 15px;
    }
    span {
      a {
        display: flex;
        gap: 7px;
        padding: 2px 0;
      }
    }
    a {
      color: #fff;
      font-size: 17px;
    }
  }
  .tg_link {
    margin-top: 15px;
  }
  .nav__right {
    color: #fff;
    .shop__cart {
      font-size: 24px;
    }
    span {
      position: relative;
      bottom: 20px;
      font-size: 15px;
    }
  }
}

.logo {
  width: 200px !important;
}

.mobile__drawer {
  display: none;
}

@media all and (max-width: 1183px) {
  .nav__center {
    display: flex;
    gap: 20px;
    .nav_center_link {
      margin-top: 0px !important;
    }
  }
  .tg_link,
  .twink {
    display: none !important;
  }
}

@media all and (max-width: 1070px) {
  .nav__center {
    display: flex;
    a {
      color: #fff;
    }
  }
  .nav__right {
    color: #fff;
    .shop__cart {
      font-size: 25px !important;
    }
    span {
      position: relative;
      bottom: 20px;
      font-size: 14px !important;
    }
  }
}

@media all and (max-width: 800px) {
  .nav {
    width: 100%;
    height: 50px;
    background-color: #11111f;
    .top__nav__parent {
      height: 50px !important;
    }
  }
  .nav__center {
    display: none !important;
  }
  .mobile__drawer {
    display: block;
  }
  .mobile__toggle {
    color: #fff;
    font-size: 30px;
  }
  .mobil_nav_parent {
    width: 100%;
    height: 100%;
    background-color: #11111f;
    color: #fff;
    .mobile_routes {
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 17px;
    }
  }
  .logo_mobile {
    margin: 20px 40px;
    width: 130px !important;
    height: 30px !important;
    margin-bottom: 15px;
  }
  .logo {
    width: 120px !important;
    height: 30px !important;
  }
  .tg_link,
  .twink {
    display: flex !important;
  }
  .mobile_routes {
    span {
      a {
        display: flex !important;
        gap: 7px !important;
        padding: 2px 0 !important;
      }
    }
  }
  .tg_link {
    margin-top: 0px !important;
  }
}
