.footer {
  width: 100%;
  height: max-content;
  background-color: #11111f;
  margin-top: 60px;
  color: #fff;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.footer_main {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  img {
    width: 200px !important;
    height: 50px !important;
  }
  .item {
    p {
      padding-bottom: 10px;
      font-size: 16px;
    }
    .footer_about_us {
      max-width: 350px;
    }
    h2 {
      padding-bottom: 15px;
      font-size: 28px;
    }
    .twink {
      height: 30px;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 15px;
      .twink_phone {
        font-size: 24px;
      }
    }
  }
}

.footer_main_bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 1216px) {
  .footer_main {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    img {
      width: 170px !important;
      height: 50px !important;
    }
    .item {
      p {
        padding-bottom: 10px;
        font-size: 16px;
      }
      .footer_about_us {
        max-width: 350px;
      }
      h2 {
        padding-bottom: 15px;
        font-size: 24px;
      }
      .twink {
        height: 30px;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 15px;
        .twink_phone {
          font-size: 24px;
        }
      }
    }
  }
}

@media all and (max-width: 860px) {
  .footer_main {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .footer_main_bottom {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px 0;
    .footer_main_bottom_title {
      text-align: center;
    }
  }
}

@media all and (max-width: 500px) {
  .footer_main {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    img {
      width: 150px !important;
      height: 40px !important;
    }
  }
  .item {
    p {
      padding-bottom: 10px;
      font-size: 14px !important;
    }
    .footer_about_us {
      max-width: 350px;
    }
    h2 {
      padding-bottom: 15px;
      font-size: 20px !important;
    }
    .twink {
      height: 30px;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 15px;
      .twink_phone {
        font-size: 24px;
      }
    }
  }
}
